run = "npx serve -s . -l 3000"
entrypoint = "index.html"
modules = ["web", "nodejs-20", "nix"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npx serve -s . -l 3000"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
